html {
    height: 100%;
}

body {
    background: url('https://res.cloudinary.com/dahw9emjc/image/upload/v1669618412/stadium_z5ibyp.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}